<header class="site-header">
    <div class="container nav">
        <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/resume' | relative_url }}">Resume</a>
            <a href="{{ '/blog/' | relative_url }}">Blog</a>
            <a href="{{ '/talks' | relative_url }}">Talks</a>
            <a href="{{ '/contact' | relative_url }}">Contact</a>
            <a href="https://github.com/{{ site.social.github }}">GitHub</a>
            <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}/"
                >LinkedIn</a
            >
        </nav>
    </div>
</header>
